footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 50px rgba(66, 66, 66, 0.5);
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 5px 0;
}