footer {
    background-color: #c8e1f0,#393939;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: shadow 5s infinite ;
    box-shadow: 10px 2px 20px rgba(255, 255, 255, 0.5);
}
@keyframes shadow { 
    50% {box-shadow: 10px 2px 20px rgba(241, 246, 170, 0);}
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 5px 0;
}
