* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	
}

body {
	text-align: center;
	background-color: #212020;
	width: 100vw;
	height: 100vh;
	background-image: url('asset/docs-left.png'), url('asset/docs-right.png');
  	background-position: top right, bottom left;
  	background-repeat: no-repeat;
  	background-size: cover;
	color: #ffffff;
}

img {
	display: block;
	width: 380px;
	height: 380px;
	margin: 2rem auto;
}
@media only screen and (max-width: 600px) {
	img {
		display: block;
		width: 150px;
		height: 150px;
		margin: .5rem auto;
	}
  }

.app {
	padding: 2rem;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

input {
	appearance: none;
	outline: none;
	border: none;
	background: #EEE;
	width: 100%;
	max-width: 320px;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin-right: 1rem;
}

button, a {
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;

	color: #2bcb4b;
	font-size: 1.5rem;
	text-decoration: none;
}
